body {
    background: lightcyan;

    margin: 0;

    padding: 0;

    width: 100%;
    height: 100%;
}

h1 {
    font-size: 2rem;

    text-align: center;

    margin-top: 2rem;
    margin-bottom: 2rem;

    padding: 0;
}

canvas, video{
    background: coral;
    max-width: 100%;

    padding: 0;
    margin: 0;
}

.flexBox{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    gap: 1rem;

    max-width: 90%;

    border: 2px solid red;
}
.card{
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;

    padding: 2px;
}
